html, body { height: 100%; }

body {
  font-family: 'Open Sans', Sans-Serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.58;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #35424A;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Lato', Sans-Serif; font-weight: 700; }

.container { max-width: none !important; width: 970px; }

a:hover { text-decoration: none; }

.thumb {
  display: inline-block;
  background-color: #F0EAED;
  width: 200px;
  height: 200px;
  background-position: center center;
  background-size: cover;
}

.text-wrap { word-wrap: break-word; }

.thumbnail { padding: 0; border-radius: 0; border: 0;}

.media-heading a { color: #35424A; }


footer .credits { margin-top: 50px; margin-bottom: 30px; }

.user-head { margin-bottom: 20px; }

.story-list .caption { text-overflow: ellipsis; white-space: nowrap; overflow: hidden;  }
.story-title .a { color: #35424A; }

