html, body { height: 100%; }

body {
  font-family: 'Open Sans', Sans-Serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.58;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #35424A;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Open Sans', Sans-Serif; font-weight: 400; }

.container { max-width: none !important; width: 970px; }

a:hover { text-decoration: none; }

.btn { border-radius: 0 !important; }
.form-control, .has-error .form-control { border-radius: 0px; box-shadow: none; }
.input-group-addon { border-radius: 0px; }

.modal-content { border-radius: 0; }

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus { border-radius: 0; background-color: #D90472; }
.nav-pills>li>a, .nav-pills>li>a:hover, .nav-pills>li>a:focus { border-radius: 0; }

.navbar-form { padding-right: 0;}
.navbar { border-radius: 0; border: 0; padding-top: 10px; padding-bottom: 10px; }

.thumb {
  display: inline-block;
  background-color: #F0EAED;
  width: 200px;
  height: 200px;
  background-position: center center;
  background-size: cover;
}

.text-wrap { word-wrap: break-word; }

.thumbnail { padding: 0; border-radius: 0; border: 0;}

.media-heading a { color: #35424A; }


footer .credits { margin-top: 50px; margin-bottom: 30px; }

.user-head { margin-bottom: 20px; }

.story-list .thumbnail { margin-bottom: 30px; }
.story-list .caption { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; padding: 0; }
.story-title { text-transform: uppercase; }
.story-title a { color: #35424A; }
.story-title a:hover { color: #35424A; }
.story-title { margin-bottom: 30px; }
/* .story-main { margin-bottom: 20px; } */

.story-caption blockquote p { font-size: 15px; line-height: 1.6; }

.image-zoom .modal-dialog { width: 90%; }
.photo-holder { width: 100%; text-align: center; }
.photo-holder .img-responsive { display: inline-block; }

.connector { position: absolute; height: 30px; width: 30px; left: -15px; border-bottom: solid 2px #333; }
.connector-new { border-bottom: solid 2px #CCC; }